@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'tailwindcss';

@theme {
  --color-surface: #fdfdff;
  --color-primary: #62929e;
  --color-primary-muted: #546a7b;
  --color-accent: #c6c5b9;
  --color-neutral: #393d3f;
  --font-koho: 'KoHo', sans-serif;
}

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
    @apply cursor-pointer bg-primary-muted text-surface p-3 rounded-lg mb-10 flex w-fit;
}

/** {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}*/
/*
body {
  background-color: var(--primary-color);
}*/
